.skills{
    width: 100vw;
    height: 100vh;
   
    /* background-color: aqua; */
}

.skills-name{
    text-align: center;
    margin: 1.5rem;
    font-size: 1.8rem;
    padding: 1rem;
    letter-spacing: 3px;
}

.skills-name h3{
    border: 1px solid;
    padding: 1rem;
    box-shadow: 2px 2px 12px rgb(255, 251, 0);
    border-radius: 0.5rem;
    /* text-decoration: underline; */
}

.skill-container{
    height: 30rem;
    width: 100vw;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    /* background-color: tomato; */

}

.html-skill{
    height: 80%;
    width: 40%;
    display: flex;
    /* background-color: aqua; */
}

.html-name{
    text-align: center;
    padding: 2rem;
    border: 1px solid ;
    font-size: 1.5rem;
    width: 20rem;
    border-radius: 1rem;
    font-weight: 700;
    box-shadow: 2px 2px 10px red ;
}

.css-name{
    text-align: center;
    padding: 2rem;
    border: 1px solid ;
    font-size: 1.5rem;
    width: 15rem;
    border-radius: 1rem;
    font-weight: 700;
    box-shadow: 2px 2px 10px rgb(0, 68, 255) ;
}

.js-name{
    text-align: center;
    padding: 2rem;
    border: 1px solid ;
    font-size: 1.5rem;
    width: 15rem;
    border-radius: 1rem;
    font-weight: 700;
    box-shadow: 2px 2px 10px rgb(255, 115, 0) ;
}

.react-name{
    text-align: center;
    padding: 2rem;
    border: 1px solid ;
    font-size: 1.5rem;
    width: 15rem;
    border-radius: 1rem;
    font-weight: 700;
    box-shadow: 2px 2px 10px rgb(0, 225, 255) ;
}

.redux-name{
    text-align: center;
    padding: 2rem;
    border: 1px solid ;
    font-size: 1.5rem;
    width: 15rem;
    border-radius: 1rem;
    font-weight: 700;
    box-shadow: 2px 2px 10px rgb(111, 0, 255) ;
}
.git-name{
    text-align: center;
    padding: 2rem;
    border: 1px solid ;
    font-size: 1.5rem;
    width: 15rem;
    border-radius: 1rem;
    font-weight: 700;
    box-shadow: 2px 2px 10px rgb(6, 4, 9) ;
}

.html-img,
.css-img,
.js-img,
.react-img,
.redux-img
{
    height: 3rem;
    margin-top: 1rem;
}